html {
  background-color: rgb(245, 245, 245);
}

body {
  align-items: center;
  align-content: space-around;
  align-self: top;
}

.searchSection {
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto 2em;
  width: 90%;
}

.searchSection .searchBar label {
  width: 80%;
}

.searchSection .searchBar input {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 2px 5px;
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
}

.search-button {
  margin-left: 10px;
}

.btn {
  margin: 0 10px 0 30px;
  padding: 5px 10px;
}

.cart-btn {
  border: 1px solid #272727;
  color: #272727;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
}

.home-message {
  font-size: 1.8rem;
  text-align: center;
}

.search-size-1 {
  width: 15%;
}

.search-size-2 {
  width: 65%;
}
